//Accent colors:
$primaryBlue: #002293;
$hoverBlue: #0043db;
$backgroundBlue: #f0f7ff;
$primaryYellow: #ffd20a;
$backgroundYellow: #fff8e7;
$basicWhite: #ffffff;
$basicBlack: #111111;
$basicGrey: #8d9ba4;

@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: url(/fonts/Inter-Regular.woff2) format("woff2"),
    url(/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: Inter-Semibold;
  font-weight: 600;
  src: url(/fonts/Inter-SemiBold.woff2) format("woff2"),
    url(/fonts/Inter-SemiBold.woff) format("woff");
}

@mixin basicPadding {
  padding-left: 25px;
  padding-right: 25px;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cleanMargin {
  margin: 0;
}

@mixin basicButton {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: Inter-Semibold;
}

@mixin primaryButton {
  background-color: $primaryBlue;
  color: $basicWhite;
  &:hover {
    background-color: $hoverBlue;
  }
}

@mixin transparentButton {
  background-color: transparent;
  color: $primaryBlue;
  &:hover {
    color: $hoverBlue;
  }
}

.transparent-btn {
  @include basicButton();
  @include transparentButton();
}

.primary-btn {
  @include basicButton();
  @include primaryButton();
}

.primary-txt {
  font-family: Inter-Semibold;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -3px;
}

.basic-txt {
  font-family: Inter-Regular;
}

.extra-txt {
  font-family: Inter-Regular;
  color: $basicGrey;
  font-size: 14px;
}

.container {
  max-width: 1136px;
}

p,
h1 {
  @include cleanMargin();
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  background-color: $basicWhite;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
  }

  &__logo {
    height: 40px;
    @include flexCenter();
  }

  &__button {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    &:first-child {
      margin-right: 40px;
    }
  }

  &__menu {
    width: 18px;
    @include flexCenter();
  }
}

.initial {
  width: 100%;
  background-image: linear-gradient(180deg, $backgroundYellow, $basicWhite);
  display: flex;

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__content,
  &__image {
    width: 560px;
  }

  &__button {
    padding: 16px 24px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.test-block {
  height: 1000px;
}

@media screen and (max-width: 467px) {
  .initial {
    &__text {
      font-size: 40px;
      line-height: 48px;
    }
    &__button {
      width: 95%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 979px) {
  .header {
    &__button {
      display: none;
    }
    &-wrapper {
      @include basicPadding();
    }
  }
  .initial {
    padding-top: 100px;
    padding-bottom: 100px;

    &__content {
      width: 95%;
      text-align: center;
      margin: 0 auto;
    }
    &__button {
      font-size: 16px;
    }
    &__image-wrapper {
      @include flexCenter();
    }
    &__image {
      width: 70%;
    }
    &__content-wrapper,
    &__image-wrapper {
      max-width: 688px;
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1267px) {
  .initial__content,
  .initial__image {
    width: 460px;
  }
  .header-wrapper,
  .initial__content-wrapper {
    width: 940px;
  }
  .header__menu {
    display: none;
  }
  .initial {
    min-height: calc(100vh - 80px);
  }
}

@media screen and (min-width: 1268px) {
  .header__menu {
    display: none;
  }
  .initial {
    min-height: calc(100vh - 80px);
  }
}
