//Accent colors:
$primaryBlue: #002293;
$hoverBlue: #0043db;
$backgroundBlue: #f0f7ff;
$primaryYellow: #ffd20a;
$backgroundYellow: #fff8e7;
$basicWhite: #ffffff;
$basicBlack: #111111;
$basicGrey: #8d9ba4;
$boxShadow: rgba(0, 0, 0, 0.05);

@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: url(/fonts/Inter-Regular.woff2) format("woff2"),
    url(/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: Inter-Semibold;
  font-weight: 600;
  src: url(/fonts/Inter-SemiBold.woff2) format("woff2"),
    url(/fonts/Inter-SemiBold.woff) format("woff");
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin cleanMargin {
  margin: 0;
}

@mixin basicPadding {
  padding-top: 100px;
  padding-bottom: 100px;
}

@mixin basicButton {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: Inter-Semibold;
}

@mixin primaryButton {
  background-color: $primaryBlue;
  color: $basicWhite;
  &:hover {
    background-color: $hoverBlue;
  }
}

@mixin transparentButton {
  background-color: transparent;
  color: $primaryBlue;
  &:hover {
    color: $hoverBlue;
  }
}

.transparent-btn {
  @include basicButton();
  @include transparentButton();
}

.primary-btn {
  @include basicButton();
  @include primaryButton();
}

.header-btn {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-btn {
  padding: 16px 24px;
  font-size: 18px;
  line-height: 28px;
  @media screen and (max-width: 979px) {
    font-size: 16px;
  }
}

.primary-txt {
  font-family: Inter-Semibold;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -3px;
  @media screen and (max-width: 467px) {
    font-size: 40px;
    line-height: 48px;
  }
}
.heading-txt {
  font-family: Inter-Semibold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2px;
  @media screen and (max-width: 467px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.basic-txt {
  font-family: Inter-Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  @media screen and (max-width: 979px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.extra-txt {
  font-family: Inter-Regular;
  font-size: 14px;
  color: $basicGrey;
}

.tag-txt {
  font-family: Inter-Semibold;
  font-size: 14px;
  line-height: 20px;
  color: $basicGrey;
  text-transform: uppercase;
}

.bold-txt {
  font-family: Inter-Semibold;
  font-weight: 700;
}

.container {
  max-width: 1136px;
  @media screen and (min-width: 980px) and (max-width: 1267px) {
    width: 940px;
  }
  @media screen and (max-width: 979px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

p,
h1,
h2 {
  @include cleanMargin();
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  height: 80px;
  background-color: $basicWhite;

  &-wrapper {
    @include flexSpaceBetween;
    margin: 0 auto;
    height: 100%;
  }

  &__logo {
    height: 40px;
    @include flexCenter();
  }

  &__button {
    &:first-child {
      margin-right: 40px;
    }
    @media screen and (max-width: 979px) {
      display: none;
    }
  }

  &__menu {
    width: 18px;
    @include flexCenter();
    @media screen and (min-width: 980px) {
      display: none;
    }
  }
}

.mobile-menu {
  margin: 10px 20px 10px 20px;
  background-color: $basicWhite;

  button {
    width: 100%;
  }
}

.initial, .final {
  display: flex;
  @include basicPadding();
  &__content-wrapper {
    @include flexSpaceBetween;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__content {
    width: 560px;
    @media screen and (max-width: 1267px) {
      width: 460px;
    }
    @media screen and (max-width: 979px) {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__image {
    width: 560px;
    @media screen and (max-width: 1267px) {
      width: 460px;
    }
    @media screen and (max-width: 979px) {
      width: 75%;
    }
    &-wrapper {
      @include flexCenter();
    }
  }

  &__text span {
    position: relative;
    z-index: 10;
  }

  &__button {
    margin-top: 24px;
    margin-bottom: 16px;
    @media screen and (max-width: 467px) {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.initial{
  background-image: linear-gradient(180deg, $backgroundYellow, $basicWhite);
}
.final{
  background-image: linear-gradient(0deg, $backgroundYellow, $basicWhite);
  &__text {
    margin-bottom: 28px;
  }
  &__button{
    margin-top: 10;
  }
}

.text-marker {
  position: absolute;
  top: 85%;
  right: -5%;
  width: 120%;
  z-index: -10;
}

.central {
  background-image: $basicWhite;
}
.steps,
.features {
  text-align: center;
  margin: 0 auto;
  @include basicPadding();

  &__text {
    margin-bottom: 10px;
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 32px;
    flex-direction: row;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    align-self: flex-start;
    flex-grow: 1;
    width: 240px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.number {
  background-color: $primaryYellow;
  font-family: Inter-Semibold;
  font-size: 14px;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 20px auto;
}

.examples {
  &__item {
    height: 611px;
    display: flex;
    @media screen and (max-width: 979px) {
      @include basicPadding();
    }
    @media screen and (min-width: 980px) {
      &:nth-child(odd) {
        background-image: linear-gradient(
          90deg,
          $backgroundBlue 30%,
          $basicWhite 30%
        );
      }
      &:nth-child(even) {
        background-image: linear-gradient(
          90deg,
          $basicWhite 70%,
          $backgroundBlue 70%
        );
      }
    }
  }

  &__content-wrapper {
    @include flexSpaceBetween;
    flex-wrap: wrap;
    margin: 0 auto;
    @media screen and (min-width: 1267px) {
      div:first-child {
        margin-right: 112px;
      }
    }
  }
  &__content {
    width: 560px;
    @media screen and (max-width: 1267px) and (min-width: 980px) {
      width: 460px;
    }
    @media screen and (max-width: 979px) {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__image-wrapper {
    @media screen and (min-width: 1268px) {
      width: 464px;
    }
    @media screen and (max-width: 1267px) and (min-width: 980px) {
      width: 380px;
    }
    @media screen and (max-width: 979px) {
      max-width: 90%;
    }
    margin: 0 auto;
    box-shadow: 0 20px 40px 0 $boxShadow;
  }
}

footer {
  height: 80px;
  background-color: $backgroundYellow;
}
