@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: url(/fonts/Inter-Regular.woff2) format("woff2"), url(/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: Inter-Semibold;
  font-weight: 600;
  src: url(/fonts/Inter-SemiBold.woff2) format("woff2"), url(/fonts/Inter-SemiBold.woff) format("woff");
}

.transparent-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: Inter-Semibold;
  background-color: transparent;
  color: #002293;
}

.transparent-btn:hover {
  color: #0043db;
}

.primary-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: Inter-Semibold;
  background-color: #002293;
  color: #ffffff;
}

.primary-btn:hover {
  background-color: #0043db;
}

.header-btn {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-btn {
  padding: 16px 24px;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 979px) {
  .main-btn {
    font-size: 16px;
  }
}

.primary-txt {
  font-family: Inter-Semibold;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -3px;
}

@media screen and (max-width: 467px) {
  .primary-txt {
    font-size: 40px;
    line-height: 48px;
  }
}

.heading-txt {
  font-family: Inter-Semibold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2px;
}

@media screen and (max-width: 467px) {
  .heading-txt {
    font-size: 32px;
    line-height: 40px;
  }
}

.basic-txt {
  font-family: Inter-Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

@media screen and (max-width: 979px) {
  .basic-txt {
    font-size: 16px;
    line-height: 24px;
  }
}

.extra-txt {
  font-family: Inter-Regular;
  font-size: 14px;
  color: #8d9ba4;
}

.tag-txt {
  font-family: Inter-Semibold;
  font-size: 14px;
  line-height: 20px;
  color: #8d9ba4;
  text-transform: uppercase;
}

.bold-txt {
  font-family: Inter-Semibold;
  font-weight: 700;
}

.container {
  max-width: 1136px;
}

@media screen and (min-width: 980px) and (max-width: 1267px) {
  .container {
    width: 940px;
  }
}

@media screen and (max-width: 979px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

p,
h1,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 80px;
  background-color: #ffffff;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
}

.header__logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button:first-child {
  margin-right: 40px;
}

@media screen and (max-width: 979px) {
  .header__button {
    display: none;
  }
}

.header__menu {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 980px) {
  .header__menu {
    display: none;
  }
}

.mobile-menu {
  margin: 10px 20px 10px 20px;
  background-color: #ffffff;
}

.mobile-menu button {
  width: 100%;
}

.initial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff8e7), to(#ffffff));
  background-image: linear-gradient(180deg, #fff8e7, #ffffff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 979px) {
  .initial {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 980px) {
  .initial {
    min-height: calc(100vh - 60px);
  }
}

.initial__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.initial__content {
  width: 560px;
}

@media screen and (max-width: 1267px) {
  .initial__content {
    width: 460px;
  }
}

@media screen and (max-width: 979px) {
  .initial__content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.initial__image {
  width: 560px;
}

@media screen and (max-width: 1267px) {
  .initial__image {
    width: 460px;
  }
}

@media screen and (max-width: 979px) {
  .initial__image {
    width: 75%;
  }
}

.initial__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initial__text span {
  position: relative;
  z-index: 10;
}

.initial__button {
  margin-top: 24px;
  margin-bottom: 16px;
}

@media screen and (max-width: 467px) {
  .initial__button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.initial .text-marker {
  position: absolute;
  top: 85%;
  right: -5%;
  width: 120%;
  z-index: -10;
}

.central {
  background-image: #ffffff;
}

.central .steps,
.central .features {
  text-align: center;
  margin: 0 auto;
}

.central__text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.central .steps__content-wrapper,
.central .features__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
  gap: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 767px) {
  .central .steps__content-wrapper,
  .central .features__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.central .steps__item,
.central .features__item {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 240px;
}

@media screen and (max-width: 767px) {
  .central .steps__item,
  .central .features__item {
    width: 100%;
    margin: 0 auto;
  }
}

.central .number {
  background-color: #ffd20a;
  font-family: Inter-Semibold;
  font-size: 14px;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 20px auto;
}

.examples__item {
  height: 611px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples__item:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #f0f7ff), color-stop(30%, #ffffff));
  background-image: linear-gradient(90deg, #f0f7ff 30%, #ffffff 30%);
}

.examples__item:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, #ffffff), color-stop(70%, #f0f7ff));
  background-image: linear-gradient(90deg, #ffffff 70%, #f0f7ff 70%);
}

.examples__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.examples__content-wrapper div:first-child {
  margin-right: 112px;
}

.examples .example__text {
  width: 560px;
}

.examples .example__image {
  width: 464px;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}

footer {
  height: 1000px;
}
/*# sourceMappingURL=style.css.map */