//Accent colors:
$primaryBlue: #002293;
$hoverBlue: #0043db;
$backgroundBlue: #f0f7ff;
$primaryYellow: #ffd20a;
$backgroundYellow: #fff8e7;
$basicWhite: #ffffff;
$basicBlack: #111111;
$basicGrey: #8d9ba4;

@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: url(/fonts/Inter-Regular.woff2) format("woff2"),
    url(/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: Inter-Semibold;
  font-weight: 600;
  src: url(/fonts/Inter-SemiBold.woff2) format("woff2"),
    url(/fonts/Inter-SemiBold.woff) format("woff");
}

@mixin basicPadding {
  padding-left: 25px;
  padding-right: 25px;
}

@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin basicButton {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: Inter-Semibold;
}

@mixin primaryButton {
  background-color: $primaryBlue;
  color: $basicWhite;
  &:hover {
    background-color: $hoverBlue;
  }
}

@mixin transparentButton {
  background-color: transparent;
  color: $primaryBlue;
  &:hover {
    color: $hoverBlue;
  }
}

.transparent-btn {
  @include basicButton();
  @include transparentButton();
}

.primary-btn {
  @include basicButton();
  @include primaryButton();
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.initial {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(180deg, $backgroundYellow, $basicWhite);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  margin: 0 auto;

  &__logo {
    height: 40px;
    @include centerItem();
  }

  &__button {
    padding: 10px 16px;
    font-size: 14px;
    height: 40px;
    &:first-child {
      margin-right: 40px;
    }
  }

  &__menu {
    width: 18px;
    @include centerItem();
  }
}

.test-block {
  height: 1000px;
}

@media screen and (max-width: 979px) {
  .header__button {
    display: none;
  }
  .header {
    @include basicPadding();
  }
}

@media screen and (min-width: 980px) and (max-width: 1267px) {
  header {
    width: 940px;
  }
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 1268px) {
  header {
    width: 1136px;
  }
  .header__menu {
    display: none;
  }
}
